{% extends "auctions/layout.html" %}

{% block body %}

<div class="alert alert-success">
    <strong>Success!</strong> you won the auctions.</a>
</div>

    <div class="container">
        <div class="row row-cols-2">
            <div class="nav-link col">
                <img src="{{Close_Listings.URL_image}}" width="400" height="400">
            </div>
            <div class="nav-link col">
                <h1> {{Close_Listings.title}}</h1>
                <h2> bid winner: ${{Close_Listings.bid}}.00</h2>
                <h2> Starting bid: ${{Close_Listings.starting_bid}}.00</h2>
                <h5> Category: {{Close_Listings.category}}</h5>
                <h5> Description: {{Close_Listings.description}}</h5>
                <h5> Listing create by: {{Close_Listings.user}}</h5>
            </div>
        </div>
    </div>
{% endblock %}