{% extends "auctions/layout.html" %}

{% block body %}

    <div class="container w-50 p-3">
        <div class="row">
            <div class="col">
                <h2>Create a new listing <strong>{{ user.username }}</strong>!</h2>
                <form action="{% url 'create_listing' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control" autofocus type="text" name="Title" placeholder="Title of the new listing">
                    </div>
                    <div class="form-group" style="height: 100px">
                        <input class="form-control h-100 d-inline-block" autofocus type="text" name="Description" placeholder="Description">
                    </div>
                    <div class="form-group">
                        <input class="form-control" autofocus type="number" id="quantity" name="bid" placeholder="The starting bid">
                    </div>
                    <div class="form-group">
                        <input class="form-control" autofocus type="url" name="URL" placeholder="Provide a URL for an image for the listing">
                    </div>
                    <div class="form-group">
                        <input class="form-control" autofocus type="text" name="Category" placeholder="Provide a Category for the new listing">
                    </div>
                    <input class="btn btn-primary" type="submit" value="Create listing">
                </form>
            </div>
        </div>
    </div>

{% endblock %}