textarea {
    min-height: 400px;
}

body{
    margin: 30px;
    background-color: white;
}

.sender {
    width: 250px;
    text-align: center;
    border: 1px solid #f8f2f2;
    color: #007bff;
 }

 .subject {
  width: 320px;
  text-align: center;
  border: 1px solid #f8f2f2;
  color: #007bff;
}

 .timestamp {
    width: 300px;
    text-align: center;
    border: 1px solid #f8f2f2;
    color: #007bff;
 }

 .archive {
    width: 80px;
    text-align: center;
    border: 1px solid #f8f2f2;
    color: #007bff;
 }

.gray{
  color: #007bff;
  background-color: #DDDDDD;
}

#emails-view {
    width: 100%;
    height: 100%;
    margin: 12.5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

h3 {
    width: 100%;
    height: 50px;
    text-align: left;
 }

 .form-input{
    width: 300px;
 }

 .from-login{
  padding-left: 30%;
 }